* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.header {
  background-color: #fff;
}
.shadow {
  position: fixed;
  z-index: 100 !important;
  width: 100vw;
}
.b-news {
  min-width: 1200px;
  overflow-x: hidden;
}
.r-nav {
  display: none;
  justify-content: space-between;
  padding: 1rem 0;
}
.burger {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.line-1,
.line-2,
.line-3 {
  background: black;
  width: 40px;
  height: 3px;
  margin: 2px 0;
  transition: transform 0.2s ease-in-out;
}
.navbar {
  background: #fff;
}
.navbar-nav {
  display: flex;
  flex-direction: row;
}

.nav-link {
  font-family: "Noto Serif", serif;
  transition: 0.3s all ease;
}
.nav-link:hover {
  color: #ce0393 !important;
  text-decoration: underline;
}
.nav-link .fab,
.nav-link .fas {
  color: #ce0393;
  transition: 0.3s all ease;
}
.fa-wifi {
  transform: rotate(45deg);
}
.nav-link .fab:hover,
.nav-link .fas:hover {
  color: #000 !important;
}

.main {
  padding-top: 8rem;
  overflow: hidden;
}
.main p {
  color: rgb(121, 121, 121);
}
.row {
  margin-left: 0;
}
.img-cover-1 {
  position: relative;
  height: 60vh;
  overflow: hidden;
}
.img-cover {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all 0.35s ease-in-out;
}
.img-cover:hover {
  transform: scale(1.3);
}
.img-cover-side {
  position: relative;
  height: 20vh;
  overflow: hidden;
}
.img-cate {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}
.img-text {
  width: 100%;
  position: absolute;
  bottom: 0;
  color: #fff;
  pointer-events: none;
}
.img-text h3,
.img-text h6 {
  color: #fff;
  font-weight: bold;
}
.img-text span {
  font-size: 10px;
  color: #fff;
}
.img-text p {
  font-size: 14px;
  color: #fff;
}
.b-bottom {
  height: 5px;
  background: #ce0393;
}
.cate {
  background: #ce0393;
  color: #fff;
  font-size: 10px;
  padding: 0.3rem;
  border-radius: 2rem;
}

.b-bottom-2 {
  width: 95%;
}

.latest-post img,
.recent-news img {
  width: 100%;
}

.local-news {
  position: relative;
}
.l-news {
  display: flex;
  justify-content: center;
  align-items: center;
}
.span {
  display: flex;
  justify-content: space-between;
}

.l-news-text {
  width: 90%;
  position: absolute;
  bottom: -50%;
  background: #fff;
}

.mobile-carousel {
  display: none;
}

.form input {
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
}
.form input[type="submit"] {
  background: #ce0393;
  color: #fff;
  width: 50%;
  transition: all 0.35s ease-in-out;
}
.form input[type="submit"]:hover {
  color: #ce0393;
  background: #fff;
}
.form input[type="email"]:focus {
  border-color: #ce0393;
  box-shadow: 0 1px 1px #00000013 inset, 0 0 8px #ce0393;
  outline: 0 none;
}

footer {
  background: #1a1a1a;
}
footer p {
  font-size: 12px;
}
.footer {
  display: flex;
}

@media only screen and (max-width: 1200px) {
  .local-news {
    position: static;
  }
  .l-news-text {
    position: static;
  }
  .span {
    display: block;
  }
}

@media only screen and (max-width: 992px) {
  .nav-link:hover {
    color: #ce0393 !important;
  }
  .main {
    padding-top: 10rem;
  }

  .pop-news {
    display: none;
  }
  .span {
    display: flex;
  }
  .mobile-carousel {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .r-nav {
    display: flex;
  }

  .navbar {
    display: none;
    flex-direction: row;
  }
  .main-nav {
    flex-direction: column;
  }
  .middle-nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logo {
    display: none;
  }
  .main {
    padding-top: 8rem;
  }
  .img-cover-main {
    display: none;
  }
  .footer {
    display: block;
  }
}
